{{#frost-modal-input
  isValid=isValid
  formValue=formValue
  title='Test title'
  subtitle='Subtitle'
  modalName=modalName
  onOpen=(action 'open')
  onClose=(action 'clearForm') as |slot|}}
  {{#block-slot slot 'target'}}
    <div style='margin-top:20px;'>
      {{frost-button
        text='Open long form with scroll'
        priority='secondary'
        size='medium'}}
    </div>
  {{/block-slot}}
  {{#block-slot slot 'body' as |content|}}
    {{content.form
      autofocus=false
      bunsenModel=userModel
      inline=true
      value=formValue
      showAllErrors=showAllErrors
      }}
  {{/block-slot}}
  {{#block-slot slot 'footer' as |controls|}}
    {{controls.confirm
      onConfirm=(action 'save')
      text='Submit'}}
  {{/block-slot}}
{{/frost-modal-input}}
