{{#frost-modal-input
  title='Test title'
  subtitle='Subtitle'
  modalName=modalName as |slot|}}
  {{#block-slot slot 'openModalElement'}}
    <div style='margin-top:20px;'>
      {{frost-button
        text='Open long form with scroll'
        priority='secondary'
        size='medium'}}
    </div>
  {{/block-slot}}
  {{#block-slot slot 'content'}}
    {{frost-bunsen-form
      model=userModel
      view=userView
      onChange=(action 'formValueChanged')
      onValidation=(action 'onValidation')}}
  {{/block-slot}}
  {{#block-slot slot 'actions'}}
    {{frost-button
      onClick=(action 'cancel')
      size='medium'
      text='Cancel'
      priority='tertiary'}}
    {{frost-button
      onClick=(action 'save')
      size='medium'
      text='Save'
      priority='primary'}}
  {{/block-slot}}
{{/frost-modal-input}}
