{{#frost-modal-input
  confirmBtn='Submit'
  title='Test title'
  subtitle='Subtitle'
  modalName=modalName
  onClose=(action 'clearForm')
  onSubmitHandler=(action 'save') as |slot|}}
  {{#block-slot slot 'target'}}
    <div style='margin-top:20px;'>
      {{frost-button
        text='Open long form with scroll'
        priority='secondary'
        size='medium'}}
    </div>
  {{/block-slot}}
  {{#block-slot slot 'body'}}
    {{frost-bunsen-form
      bunsenModel=userModel
      autofocus=false
      inline=true
      onChange=(action 'formValueChanged')
      onValidation=(action 'onValidation')
      renderers=renderers
      showAllErrors=showAllErrors
      value=formValue
      validators=validators
      }}
  {{/block-slot}}
{{/frost-modal-input}}
