<div class="section-title">Perfect Scroll frost-modal-input</div>
<hr>
<div class="section">
  <div class="example">
    <div class="demo">
      {{frost-create-long-form
        onConfirm=(action 'save')}}
    </div>
    <div class="snippet">
      {{format-markdown "```handlebars

    ```"
      }}
    </div>
  </div>
</div>
