@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
$info-bar-height: 80px;
$action-bar-height: 80px;
$modal-padding: 90px;
$form-margin-top: 14px;
$form-margin-bottom: 4px;

.liquid-modal.form-container {
  .lm-container {
    align-items: center;
    justify-content: center;

    > .frost-bunsen-form-dialog {
      max-width: none;
      padding: 0;
      border: none;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.ps-container {
    position: relative;
    overflow: auto;
    max-height: calc(100vh - #{$modal-padding});

  .ps-scrollbar-y-rail {
    margin-top: $info-bar-height;
    margin-bottom: $action-bar-height;
  }
}

.frost-modal-input {
  position: relative;
  width: 550px;
  max-width: 550px;
  max-height: calc(100vh - #{$modal-padding});
  padding: 0;
  background-color: $frost-color-white;
  box-shadow: 0px 0px 20px rgba(64, 64, 65, 0.5);
  border: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .input-header {
    padding: 20px 30px;
    position: absolute;
    top: 0;
    height: $info-bar-height;
    width: 100%;
    z-index: 999;

    box-shadow: 0px 1px 2px 0px rgba($frost-color-grey-5 ,0.75);

    &:after {
      content: '';
      position: absolute;
      height: $info-bar-height;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $frost-color-white;
      opacity: 0.95;
      z-index: -1;
    }

    .primary-title {
      font-size: $frost-font-m;
      color: $frost-color-night-2;
      padding-bottom: 3px
    }

    .sub-title {
      font-size: $frost-font-s;
      color: $frost-color-grey-5;
    }
  }

  .frost-bunsen-container {
    margin-bottom: $action-bar-height + $form-margin-bottom;
  }

  .frost-bunsen-form {
      flex: 1;
      display: flex;
      flex-direction: column;

      margin-top: $info-bar-height + $form-margin-top;

    .frost-fieldset {
      padding: 0 0 30px 30px;
    }

    .frost-field .input {
      width: 250px;
    }

    .frost-field.textarea .input {
      height: 70px;
    }
  }

  .actions {
    height: $action-bar-height;
    padding-right: 30px;
    box-shadow: 0px -1px 2px 0px rgba($frost-color-grey-5 ,0.75);
    align-items: center;

    width: 100%;
    z-index: 999;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    > .frost-button {
        width: 150px;
    }

    &:after {
      content: '';
      position: absolute;
      height: $action-bar-height;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $frost-color-white;
      opacity: 0.95;
      z-index: -1;
    }
  }


  // .frost-scroll {
  //   max-height: calc('100vh - 260px');
  // }
}
