@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
$info-bar-height: 80px;
$info-bar-padding-top-bottom: 20px;
$info-bar-padding-left-right: 30px;
$info-bar-border-width: 1px;
$action-bar-border-width: 1px;
$action-bar-height: 80px;
$modal-padding: 90px;
$form-margin-top: 14px;
$form-margin-bottom: 4px;
$form-bkgrnd: rgba(0, 0, 0, 0);
$modal-box-shadow: rgba(64, 64, 65, .5);
$scroll-box-shadow: rgba(0, 0, 0, .25);

.remodal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .frost-modal-input {
    &.remodal {
      &.remodal-is-opening {
        animation-duration: .5s;
        animation-name: remodal-to-down;
      }

      &.remodal-is-closing {
        animation-duration: .5s;
        animation-name: remodal-to-up;
      }
    }

    &.ember-remodal {
      &.window {
        position: relative;
        width: 550px;
        max-width: 550px;
        max-height: calc(100vh - #{$modal-padding});
        padding: 0;
        border: 0;
        background-color: $frost-color-white;
        box-shadow: 0 0 20 $modal-box-shadow;
        overflow: hidden;

        .ember-remodal {
          &.yielded {
            &.content {
              display: flex;
              flex-direction: column;

              .input-header {
                display: flex;
                position: absolute;
                top: 0;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                height: $info-bar-height + $info-bar-border-width;
                padding: $info-bar-padding-top-bottom $info-bar-padding-left-right;
                border-bottom: $info-bar-border-width solid $frost-color-lgrey-1;
                z-index: 999;

                &.header-scrolled {
                  border-bottom: 0;
                  box-shadow: 0 2px 3px $scroll-box-shadow;

                  &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: $info-bar-height + $info-bar-border-width;
                    background: $frost-color-white;
                    content: '';
                    opacity: .95;
                    z-index: -1;
                  }
                }

                .primary-title {
                  padding-bottom: 3px;
                  color: $frost-color-night-2;
                  font-size: $frost-font-m;
                }

                .sub-title {
                  color: $frost-color-grey-5;
                  font-size: $frost-font-s;
                }
              }

              .ps-container {
                position: relative;
                max-height: calc(100vh - #{$modal-padding});
                padding: 0;
                overflow: auto;

                .ps-scrollbar-y-rail {
                  margin-top: $info-bar-height + $info-bar-border-width;
                  margin-bottom: $action-bar-height + $info-bar-border-width;
                }
              }

              .frost-bunsen-container {
                margin-bottom: $action-bar-height + $form-margin-bottom;
              }

              .frost-bunsen-form {
                display: flex;
                flex: 1;
                flex-direction: column;
                margin-top: $info-bar-height + $form-margin-top;

                .frost-fieldset {
                  padding: 0 0 30px 30px;
                }

                .frost-field {
                  .input {
                    width: 250px;
                  }

                  &.textarea {
                    .input {
                      height: 70px;
                    }
                  }
                }
              }

              .footer {
                display: flex;
                position: absolute;
                bottom: 0;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                height: $action-bar-height + $action-bar-border-width;
                margin-top: 20px;
                padding-right: 30px;
                border-top: 1px solid $frost-color-lgrey-1;
                z-index: 999;

                > .frost-button {
                  width: 150px;
                  margin-left: 10px;
                }

                &.footer-scrolled {
                  border-top: 0;
                  box-shadow: 0 -2px 3px $scroll-box-shadow;

                  &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: $action-bar-height + $action-bar-border-width;
                    background: $frost-color-white;
                    content: '';
                    opacity: .95;
                    z-index: -1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Keyframes
@keyframes remodal-to-down {
  from {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes remodal-to-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-200%);
  }
}
