 <div class="dummy-body">

  <div class="section-title">frost-modal-input</div>
  <hr>
  <div class="section">
    <div class="example">
        <div class="demo">
          {{#frost-button
            size='medium'
            priority='secondary'
            text='Open form'
            onClick=(action 'showForm')}}
          {{/frost-button}}
          {{liquid-modal class=(if isModalActive 'form-container' '')}}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-button
  size='medium'
  priority='secondary'
  text='Open form'
  onClick=(action 'showForm')}}
{{/frost-button}}
{{liquid-modal class=(if isModalActive 'form-container' '')}}
  ```"
          }}
        </div>
    </div>
  </div>
</div>
