<div class="dummy-body">
  {{#frost-link 'demo.default'
    priority='secondary'
    size='small'}}
    Default
  {{/frost-link}}
  {{#frost-link 'demo.perfect-scroll'
    priority='secondary'
    size='small'}}
    Perfect Scroll
  {{/frost-link}}
  {{#frost-link 'demo.remodal'
    priority='secondary'
    size='small'}}
    Remodal
  {{/frost-link}}

  {{outlet}}
</div>
