<div class="dummy-body">
  {{#frost-link 'demo.default'
    priority='secondary'
    size='small'}}
    Short form
  {{/frost-link}}
  {{#frost-link 'demo.perfect-scroll'
    priority='secondary'
    size='small'}}
    Long form
  {{/frost-link}}

  {{outlet}}
</div>
