{{#frost-modal-input title='Test title' subtitle='Subtitle'}}
{{!#frost-modal-input titleComponent='myTitle'}}

  {{frost-bunsen-form
      model=userModel
      view=userView
      onChange=(action 'formValueChanged')
      onValidation=(action 'onValidation')}}

  <div class='actions'>
    {{#frost-button
      onClick=(action 'cancel')
      size='medium'
      text='Cancel'
      priority='tertiary'}}
    {{/frost-button}}
    {{#frost-button
      onClick=(action 'save')
      size='medium'
      text='Save'
      priority='primary'}}
    {{/frost-button}}
  </div>
{{/frost-modal-input}}
