{{frost-bunsen-form
  bunsenId='userForm'
  model=userModel
  value=userValue
  view=userView
  onChange=(action 'formValueChanged')
  onValidation=(action 'onValidation')}}
<div class='actions'>
  {{frost-button
    size='medium'
    text='Cancel'
    priority='tertiary'
    onClick=(action 'cancel')
  }}
  {{frost-button
    disabled=(not isValid)
    size='medium'
    text='Save'
    priority='primary'
    onClick=(action 'save')
  }}
</div>
